*{
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
}
ul{
	list-style: none;
}

.header {
		width:100%;
		background: #3838e8;
}

/*flexbox nav*/
.Navbar{
	display: flex;
	color: white;
	padding: 15px;
}

.Navbar__Items {
	display: flex;
}

.Navbar__Items--right {
	margin-left: auto;
}
.Navbar__Logo {
	padding: 15px;
	/*border-bottom: 1px solid #FFF;*/
}

.Navbar__Link a {
	padding-right: 15px;
	/*border-bottom: 1px solid #FFF;*/
	/*display: block;*/
	color: #FFF;

}

.Navbar__Link {
	padding: 15px;
	/*border-bottom: 1px solid #FFF;*/
}
.Navbar__Link-toggle{
	display: none;
}

@media only screen and (max-width: 768px) {

	.Navbar, .Navbar__Items {
		flex-direction:column;
	}
	
	.Navbar__Link-toggle {
	  align-self: flex-end;
	  display: initial;
	  position: absolute;
	  cursor: pointer;
	}

	.Navbar__Items {
    display:none;
  }

  .Navbar__Items--right{
		margin-left: 0;
	}

	.Navbar__ToggleShow{
		display: flex;
	}

	}

.heading-my {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 2em;
}

.footer-content {
	text-align: center;
	/*color: red;*/
}

.footer-link {
	padding: 20px;
}
.footer-heading {
	padding: 20px;
}

.navbar {
	width: 100%;
	display: flex;
	box-sizing:border-box;
	flex-direction:column;
}

.nav-item{
	/*width:100%;*/
	display: flex;
	text-align: center;
	box-sizing:border-box;
	/*background: red;*/
	flex-direction:column;
	border-bottom:1px solid #FFF;
}
 .nav-link{
	color: #FFF;
	width: 90px;
	margin:0 auto;
	padding: 10px;
	font-size: 1.2em;
}
.wrapper{
	width: 80%;
	margin:0 auto;
	padding:10px;
	box-sizing:border-box;
	
}

.hero-bg{
	background: #4242ff;
	width: 100%;
	height: auto;
}

.hero-content{
	width:100%;
	margin:0 auto;
	padding: 30px;
}

.hero-heading1{
	width: 100%;
	margin-top: 10px;
	text-align: center;
	font-size: 5.3em;
}

.hero-heading2{
	width: 100%;
	margin-top: -15px;
	font-size: 1.3em;
	text-align: center;
	color: #06068f;
}

.flag{
		width:35%;
		height: 35%;
		margin:0 auto;
		display: block;
		margin-top: 25px;
		border-radius: 2px;
	}
	.flag-round{
		width: 12%;
		height: 12%;
		border-radius: 100%;
	}
	.sa{
		color: lavender;
	}
	.bo{
		color: darkblue;
	}
	.ri{
		color: #ba0303c2;
	}

	.button {
    background-color: #4CAF50;  Green 
    border-radius: 7px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 40%;
    font-size: 1em;
    margin-left: 0px;
    margin: 4px 2px;
    margin:20px auto 0 auto;
    margin-top: 20px;
    -webkit-transition-duration: 0.4s;  Safari 
    transition-duration: 0.4s;
    scursor: pointer;
}
	.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    margin: 30px auto;
}
	.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    margin-left:0;
    margin-top: 15px;
}

MARKETING
.row{
	display: flex;
	flex-direction:column;
	background: green;
	width: 100%;
	height: auto;
}
.card{
	/*background: lavender; */
	padding: 10px;
	flex-grow: 1;
   flex-basis: 0;
	flex:1;
}
.card-wrapper{
	display: flex;
	/*padding: 25px;*/
	flex-direction:column;
	max-height:auto;
}

.card-heading,.card-info,.card-img,.card-video{
	padding: 7px 0px 5px 0px;
}
.card-video{
	max-width: 100%;
	border-radius: 10;
}
.card-img {
	max-width: 100%;
	max-height:200px;
	border-radius: 10px;
}
.about-img{
	width: 100%;
}

.form-wrap {
 	 display: flex;
    flex-direction: column;
    max-width: 85%;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    background: #80808045;	
}
.form-wrap form {
	display:flex;
	flex-direction:column;
}

.form-wrap .form-item {
	border-radius: 4px;
	font-size: 1em;
	margin:10px;
	padding: 5px;
}

input.form-item.button {

	margin: 10px auto;
	width: 90%;
}
.form_err {
	margin-left: 15px;
}


@media only screen and (min-width: 468px) {

	.card-img {
		max-height: 450px;
	}
    .hero-heading1 {
        font-size: 5.3em;
    }
    .hero-heading2 {
        font-size: 1.5em;
    }
    .form .button {
    	margin: 0 auto;
    }

}

@media only screen and (min-width: 600px) {
    .hero-heading1 {
        font-size: 8.3em;
        padding-left: 0px;
    }
    .hero-heading2 {
        font-size: 2.1em;
        line-height: .3;
    }

    .card-heading,.card-info,.card-img{
	padding: 9px;
}
}

@media only screen and (min-width: 768px) {
	
	.form-wrap {
    max-width: 50%;
}
	.card-img {
		max-height: 200px;
	}   
    .row {
			display:flex;
			flex-direction:row;
			flex-basis:1;
    }
    .button{
    	margin:30 auto;
    }
}

@media only screen and (min-width: 800px) {

	.header{
		/*display: flex;*/
    	/*justify-content: space-between*/
	}

	.navbar {
    	flex-direction:row;
    	justify-content: flex-end;

    }
    .nav-item{
    	border-bottom: none;
    }
    .hero-heading1 {
        font-size: 12em;
        margin-top: 0px;
    }
    .hero-heading2 {
        /*font-size: 2.1em;*/
        line-height: .01;
    }
    .row {
    	display: flex;
    }
    .card {
    	/*flex-grow: 1;
    	flex-basis: 0;*/
    }
    .card-heading,.card-info,.card-img{
			padding: 15px;
			margin-top: 10px;
}
}



