*{
	padding: 0;
	margin: 0;
}

.wrapper{
	box-sizing:border-box;
	margin:0 auto;
	padding:10px;
	width: 80%;
}

.hero-bg{
	background: #4242ff;
	width: 100%;
	height: auto;
}

.hero-content{
	width:100%;
	margin:0 auto;
	padding: 30px;
}

.hero-heading1{
	width: 100%;
	margin-top: 10px;
	text-align: center;
	font-size: 5.3em;
}
.hero-heading2{
	width: 100%;
	margin-top: -15px;
	font-size: 1.3em;
	text-align: center;
	color: #06068f;
}
.flag{
		width:35%;
		height: 35%;
		margin:0 auto;
		display: block;
		margin-top: 25px;
		border-radius: 2px;
	}
	.flag-round{
		width: 12%;
		height: 12%;
		border-radius: 100%;
	}
	.sa{
		color: lavender;
	}
	.bo{
		color: darkblue;
	}
	.ri{
		color: #ba0303c2;
	}

	.button {
    background-color: #4CAF50; /* Green */
    border-radius: 7px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 40%;
    font-size: 1.2em;
    /*margin: 4px 2px;*/
    margin:40px auto;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
	.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

/*MARKETING*/
.row{
	display: flex;
	flex-direction:column;
	justify-content: center;
   align-items: center;
	/*background: green;*/
	width: 100%;
	height: auto;
}
.card{
	/*display: flex;*/
	/*flex-direction:column;*/
	background: #DED; 
	padding: 10px;
	margin:0px 0px 0px 0px;
}
.card-wrapper{
	display: flex;
	/*padding: 25px;*/
	flex-direction:column;

}
.card-heading,.card-info,.card-img{
	padding: 5px;
}
.card-info{

}

.card-img {
	max-width: 100%;
	/*border-radius: 100%;*/
}

@media only screen and (min-width: 468px) {
    .hero-heading1 {
        font-size: 5.3em;
    }
    .hero-heading2 {
        font-size: 1.5em;
    }

}

@media only screen and (min-width: 600px) {
    .hero-heading1 {
        font-size: 8.3em;
    }
    .hero-heading2 {
        font-size: 2.1em;
        line-height: .3;
    }

    .card-heading,.card-info,.card-img{
	padding: 9px;
}
}

@media only screen and (min-width: 768px) {
    
    .row {
			display:flex;
			flex-direction:row;
			flex-basis:1;
			
    }
}

@media only screen and (min-width: 800px) {
    .hero-heading1 {
        font-size: 12em;
        margin-top: 0px;
    }
    .hero-heading2 {
        /*font-size: 2.1em;*/
        line-height: .01;
    }
    .row {
			display:flex;
    }
    .card-heading,.card-info,.card-img{
			padding: 15px;
}
}



